@import "tailwindcss";

@theme inline {
  --font-arabic: var(--font-arabic);
}

html {
  scroll-behavior: smooth;
}

body {
  background: #0a0a0a;
  color: #ffffff;
  font-family: "Cairo Variable", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
